html {
  height: 100%;
  width: 100%;
}

body {
  height: auto;
  width: auto;
  font-family: sans-serif;
  background-image: url('https://i.ytimg.com/vi/44mBU7WDA24/maxresdefault.jpg');
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

.time{
  text-align: right;
  margin: 3px 0;
  font-size: 17px;
}